![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Grouping Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

To date the data we've seen has looked like [this.](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)

That is how we need data to look to run analysis and build models.<br>
But it doesn't _live_ there in it's native state.

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

## What does it mean to **Engineer Data**?

Let's start with a basic scenario:<br>
You are HR. You have *no* current database. 
How would you set it up?

Data needs considerations:
- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:
- Speed of retrieval
- How much data you are accessing
- How much you are storing

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
### SQL

[History of SQL](https://www.businessnewsdaily.com/5804-what-is-sql.html)

> Future users of large data banks must be protected from having to know how the data is organized in the machine (the internal representation). A prompting service which supplies such information is not a satisfactory solution. Activities of users at terminals and most application programs should remain unaffected when the internal representation of data is changed and even when some aspects of the external representation are changed. Changes in data representation will often be needed as a result of changes in query, update, and report traffic and natural growth in the types of stored information.
.
.
.<br>
<br>
In Section 1 a relational model of data is proposed as a basis for protecting users of formatted data systems from the potentially disruptive changes in data representation caused by growth in the data bank and changes in traffic.

[The original SQL paper from the 1970s.](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

### Table columns view
<img src="img/columns.png" width=650>

### Terminology

- Database
- Schema
- Queries
- Tables
- Views
- Primary Keys
- Foreign Keys
- Indexes
- Functions & User Defined Functions (UDFs)

***
### SQLite

<img src="img/SQLite-Python.jpg" width=650>

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to other database types there are many different libraries:
- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

These all implement [PEP 249: DB API v2](https://www.python.org/dev/peps/pep-0249/)

***
## Goal 3: Get going with sqlite!

In [1]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [2]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [4]:
cursor.description

(('name', None, None, None, None, None, None),)

In [5]:
cursor.execute("SELECT name, type FROM sqlite_master;")
print(cursor.fetchall())

[('airports', 'table'), ('ix_airports_index', 'index'), ('airlines', 'table'), ('ix_airlines_index', 'index'), ('routes', 'table'), ('ix_routes_index', 'index')]

In [ ]:
cursor.execute("SELECT * FROM sqlite_master;")
results = cursor.fetchall()
for res in results:
    print(res)

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [ ]:
cursor.execute("SELECT * FROM airports as a").fetchone()

In [ ]:
cursor.fetchone()

In [ ]:
cursor.fetchmany(4)

#### Use description

In [ ]:
cursor.description

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [ ]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [ ]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n")

In [ ]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [6]:
cursor.execute("""
SELECT name
FROM airlines
WHERE active = 'Y'
  AND country = 'United Kingdom';
""")
cursor.fetchmany(5)

[('Astraeus',),
 ('Air Southwest',),
 ('Aurigny Air Services',),
 ('Air Wales',),
 ('AD Aviation',)]

In [7]:
cursor.execute("""
SELECT name
FROM airlines
WHERE active = 'Y'
  AND country = 'United Kingdom'
LIMIT 5;
""")
cursor.fetchall()

[('Astraeus',),
 ('Air Southwest',),
 ('Aurigny Air Services',),
 ('Air Wales',),
 ('AD Aviation',)]

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="img/venn.png" width=550>

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [8]:
cursor.execute("""
SELECT *
FROM airports
""")
print(*cursor.description, sep='\n')

('index', None, None, None, None, None, None)
('id', None, None, None, None, None, None)
('name', None, None, None, None, None, None)
('city', None, None, None, None, None, None)
('country', None, None, None, None, None, None)
('code', None, None, None, None, None, None)
('icao', None, None, None, None, None, None)
('latitude', None, None, None, None, None, None)
('longitude', None, None, None, None, None, None)
('altitude', None, None, None, None, None, None)
('offset', None, None, None, None, None, None)
('dst', None, None, None, None, None, None)
('timezone', None, None, None, None, None, None)

In [11]:
cursor.execute("""
SELECT *
FROM airports
""")
cursor.fetchone()

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [9]:
cursor.execute("""
SELECT *
FROM routes
""")
print(*cursor.description, sep='\n')

('index', None, None, None, None, None, None)
('airline', None, None, None, None, None, None)
('airline_id', None, None, None, None, None, None)
('source', None, None, None, None, None, None)
('source_id', None, None, None, None, None, None)
('dest', None, None, None, None, None, None)
('dest_id', None, None, None, None, None, None)
('codeshare', None, None, None, None, None, None)
('stops', None, None, None, None, None, None)
('equipment', None, None, None, None, None, None)

In [10]:
cursor.execute("""
SELECT *
FROM routes
""")
cursor.fetchone()

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2')

In [18]:
import pandas as pd

In [24]:
cursor.execute("""
    SELECT r.*, a_source.latitude AS source_lat, a_source.longitude AS source_lon, a_dest.latitude AS dest_lat, a_dest.longitude AS dest_lon
    FROM routes r
    JOIN airports a_source
    ON a_source.id = r.source_id
    JOIN airports a_dest
    ON a_dest.id = r.dest_id;""")
output = pd.DataFrame(cursor.fetchall())
output.columns = [x[0] for x in cursor.description]
output.drop('index', axis=1,inplace=True)
output

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,source_lat,source_lon,dest_lat,dest_lon
0,2B,410,AER,2965,KZN,2990,None,0,CR2,43.449928,39.956589,55.606186,49.278728
1,2B,410,ASF,2966,KZN,2990,None,0,CR2,46.283333,48.006278,55.606186,49.278728
2,2B,410,ASF,2966,MRV,2962,None,0,CR2,46.283333,48.006278,44.225072,43.081889
3,2B,410,CEK,2968,KZN,2990,None,0,CR2,55.305836,61.503333,55.606186,49.278728
4,2B,410,CEK,2968,OVB,4078,None,0,CR2,55.305836,61.503333,55.012622,82.650656
5,2B,410,DME,4029,KZN,2990,None,0,CR2,55.408611,37.906111,55.606186,49.278728
6,2B,410,DME,4029,NBC,6969,None,0,CR2,55.408611,37.906111,55.34,52.06
7,2B,410,DME,4029,UUA,6160,None,0,CR2,55.408611,37.906111,54.64,52.8017
8,2B,410,EGO,6156,KGD,2952,None,0,CR2,50.6438,36.5901,54.89005,20.592633
9,2B,410,EGO,6156,KZN,2990,None,0,CR2,50.6438,36.5901,55.606186,49.278728
10,2B,410,GYD,2922,NBC,6969,None,0,CR2,40.4675,50.046667,55.34,52.06
11,2B,410,KGD,2952,EGO,6156,None,0,CR2,54.89005,20.592633,50.6438,36.5901
12,2B,410,KZN,2990,AER,2965,None,0,CR2,55.606186,49.278728,43.449928,39.956589
13,2B,410,KZN,2990,ASF,2966,None,0,CR2,55.606186,49.278728,46.283333,48.006278
14,2B,410,KZN,2990,CEK,2968,None,0,CR2,55.606186,49.278728,55.305836,61.503333
15,2B,410,KZN,2990,DME,4029,None,0,CR2,55.606186,49.278728,55.408611,37.906111
16,2B,410,KZN,2990,EGO,6156,None,0,CR2,55.606186,49.278728,50.6438,36.5901
17,2B,410,KZN,2990,LED,2948,None,0,CR2,55.606186,49.278728,59.800292,30.262503
18,2B,410,KZN,2990,SVX,2975,None,0,CR2,55.606186,49.278728,56.743108,60.802728
19,2B,410,LED,2948,KZN,2990,None,0,CR2,59.800292,30.262503,55.606186,49.278728
20,2B,410,LED,2948,NBC,6969,None,0,CR2,59.800292,30.262503,55.34,52.06
21,2B,410,LED,2948,UUA,6160,None,0,CR2,59.800292,30.262503,54.64,52.8017
22,2B,410,MRV,2962,ASF,2966,None,0,CR2,44.225072,43.081889,46.283333,48.006278
23,2B,410,NBC,6969,DME,4029,None,0,CR2,55.34,52.06,55.408611,37.906111
24,2B,410,NBC,6969,GYD,2922,None,0,CR2,55.34,52.06,40.4675,50.046667
25,2B,410,NBC,6969,LED,2948,None,0,CR2,55.34,52.06,59.800292,30.262503
26,2B,410,NBC,6969,SVX,2975,None,0,CR2,55.34,52.06,56.743108,60.802728
27,2B,410,NJC,2972,SVX,2975,None,0,CR2,60.949272,76.483617,56.743108,60.802728
28,2B,410,NJC,2972,UUA,6160,None,0,CR2,60.949272,76.483617,54.64,52.8017
29,2B,410,NUX,4364,SVX,2975,None,0,CR2,66.041811,76.313938,56.743108,60.802728
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67172,ZL,4178,SYD,3361,ABX,3333,None,0,SF3,-33.946111,151.177222,-36.067778,146.958056
67173,ZL,4178,SYD,3361,ARM,4062,None,0,SF3,-33.946111,151.177222,-30.528056,151.617222
67174,ZL,4178,SYD,3361,BHQ,6241,None,0,SF3,-33.946111,151.177222,-32.0014,141.472
67175,ZL,4178,SYD,3361,BHS,6249,None,0,SF3,-33.946111,151.177222,-33.4094,149.652
67176,ZL,4178,SYD,3361,BNK,4291,None,0,SF3,-33.946111,151.177222,-28.833889,153.5625
67177,ZL,4178,SYD,3361,DBO,3358,None,0,SF3,-33.946111,151.177222,-32.216667,148.574722
67178,ZL,4178,SYD,3361,GFF,6271,None,0,SF3,-33.946111,151.177222,-34.2508,146.067
67179,ZL,4178,SYD,3361,LSY,6287,None,0,SF3,-33.946111,151.177222,-28.8303,153.26
67180,ZL,4178,SYD,3361,MIM,6294,None,0,SF3,-33.946111,151.177222,-36.9086,149.901
67181,ZL,4178,SYD,3361,MQL,6298,None,0,SF3,-33.946111,151.177222,-34.2292,142.086
67182,ZL,4178,SYD,3361,MYA,6302,None,0,SF3,-33.946111,151.177222,-35.8978,150.144
67183,ZL,4178,SYD,3361,NRA,6307,None,0,SF3,-33.946111,151.177222,-34.7022,146.512
67184,ZL,4178,SYD,3361,NTL,4320,None,0,SF3,-33.946111,151.177222,-32.78,151.83
67185,ZL,4178,SYD,3361,OAG,6793,None,0,SF3,-33.946111,151.177222,-33.3817,149.133
67186,ZL,4178,SYD,3361,PKE,6317,None,0,SF3,-33.946111,151.177222,-33.1314,148.239
67187,ZL,4178,SYD,3361,TRO,6794,None,0,SF3,-33.946111,151.177222,-31.8886,152.514
67188,ZL,4178,SYD,3361,WGA,3363,None,0,SF3,-33.946111,151.177222,-35.165278,147.466389
67189,ZL,4178,TRO,6794,GFN,6792,None,0,SF3,-31.8886,152.514,-29.7594,153.03
67190,ZL,4178,TRO,6794,SYD,3361,None,0,SF3,-31.8886,152.514,-33.946111,151.177222
67191,ZL,4178,TSV,3330,ISA,3324,None,0,SF3,-19.2525,146.765278,-20.663889,139.488611
67192,ZL,4178,TSV,3330,WIN,6337,None,0,SF3,-19.2525,146.765278,-22.3636,143.086
67193,ZL,4178,WGA,3363,MEL,3339,None,0,SF3,-35.165278,147.466389,-37.673333,144.843333
67194,ZL,4178,WGA,3363,SYD,3361,None,0,SF3,-35.165278,147.466389,-33.946111,151.177222
67195,ZL,4178,WIN,6337,LRE,6289,None,0,SF3,-22.3636,143.086,-23.4342,144.28
67196,ZL,4178,WIN,6337,TSV,3330,None,0,SF3,-22.3636,143.086,-19.2525,146.765278
67197,ZL,4178,WYA,6334,ADL,3341,None,0,SF3,-33.0589,137.514,-34.945,138.530556
67198,ZM,19016,DME,4029,FRU,2912,None,0,734,55.408611,37.906111,43.061306,74.477556
67199,ZM,19016,FRU,2912,DME,4029,None,0,734,43.061306,74.477556,55.408611,37.906111
67200,ZM,19016,FRU,2912,OSS,2913,None,0,734,43.061306,74.477556,40.608989,72.793269
67201,ZM,19016,OSS,2913,FRU,2912,None,0,734,40.608989,72.793269,43.061306,74.477556

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airlines?
- Which countries have the highest amount of inactive airlines?
- What about airports by timezones?

In [ ]:
# Which countries have the highest amount of active airports?
cursor.execute("""
-- your code here;
""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# Which countries have the highest amount of inactive airports?
cursor.execute("""
-- your code here;
""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# What about airports by timezones?
cursor.execute("""
-- your code here;""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

In [ ]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()
#vs
shelter_data[shelter_data['Name']=="Max"]

In [ ]:
shelter_data.rename(index=str, columns={"Animal Type": "animal_type"}, inplace = True)
test = shelter_data.query('animal_type == "Dog"')
test.head()

## Goal 6: Transfering from sqlite to pandas

In [ ]:
pd_con = sqlite3.connect("flights.db")
df = pd.read_sql_query("select * from airports limit 5;", pd_con)
df

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [ ]:
# Which countries have the highest amount of active airports?
df = pd.read_sql_query("""
-- your code here;
""", pd_con)
df

In [ ]:
pd_con.close()

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [ ]:
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
cur = conn.cursor()

In [ ]:
# How many tables are in the database?

# your code here

In [ ]:
# What's the primary key of each table?

# your code here

In [ ]:
# What foreign keys join the tables together?

# your code here
# hint: use "PRAGMA foreign_key_list()"

In [ ]:
# What are the max and min dates in the Invoice table?
cur.execute("""
-- your code here;
""").fetchall()

In [ ]:
# What tables would you need to answer "what is your most popular track?"

In [ ]:
# What values from each table?

In [ ]:
# Put it all together:
# You need to create a query that can rank tracks in term of popularity.

results = cur.execute("""
-- your code here;
""").fetchall()

print(*results, sep='\n')

In [ ]:
# Advanced: get the artist who sang the song!
results = cur.execute("""
-- your code here;
""").fetchall()

print(*results, sep='\n')

## Reflection

## Learning goals review:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Grouping Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

Please fill out today's [Exit Ticket](https://docs.google.com/forms/d/1O0dMGqjIV6-JIDYSIeGqTjIdep1BFiIVCc29UbEgwUM/edit)!